# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.tablegen2.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\github\ExcelExport\tablegen2\.idea\.idea.tablegen2.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
